.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}

.choose {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #A79277;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.choose:hover {
  background: #38322a;
  box-shadow: rgba(255, 215, 197, 0.5) 0 3px 8px;
  text-decoration: none;
}
.textArea {
  color: white;
}

.upload {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #A79277;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.upload:hover {
  background-color: #38322a;
  box-shadow: rgba(255, 215, 197, 0.5) 0 3px 8px;
}

.upload:disabled,
.upload[disabled] {
border: 2px solid #999999;
background-color: #A79277;
color: #666666;
}

div {
padding: 5px 10px;
}